@charset "utf-8";
/*Index*/
#Index{
    background-color: #000000;
}
#Index .pic{
    position: absolute; left: 67px; top: 150px;
    width: 548px; height: 814px;
    background: url(../../img/index/pic.png);
}
#Index .start{
    position: absolute; left: 260px; top: 536px;
    width: 179px; height: 148px;
}